@model dbConnectionTest.Models.MAuthor
@{
    ViewBag.Title = "Index";
}

<h2>Index</h2>
<div class="container">
    @using (Html.BeginForm())
    {
        <table class="table">
            <thead>
                <tr>
                    <th scope="col"></th>
                    <th scope="col"></th>
                </tr>
            </thead>
            <tbody>
                <tr>
                    <td scope="row">Name : </td>
                    <td>@Html.TextBoxFor(x => x.Name)</td>
                </tr>
                <tr>
                    <td scope="row">Age : </td>
                    <td>@Html.TextBoxFor(x => x.Age)</td>
                </tr>
                <tr>
                    <td scope="row">Gender : </td>
                    <td>@Html.TextBoxFor(x => x.Gender)</td>
                </tr>
                <tr>
                    <td scope="row">Book Name : </td>
                    <td>@Html.TextBoxFor(x => x.BookName)</td>
                </tr>
                <tr>
                    <td scope="row">Book Price : </td>
                    <td>@Html.TextBoxFor(x => x.BookPrice)</td>
                </tr>
                <tr>
                    <td scope="row">Publisher : </td>
                    <td>@Html.TextBoxFor(x => x.Publisher)</td>
                </tr>
                <tr>
                    <td scope="row">Publish Year : </td>
                    <td>@Html.TextBoxFor(x => x.PublishYear)</td>
                </tr>
                <tr>
                    <td scope="row">Book Type : </td>
                    <td>@Html.DropDownListFor(x => x.BookType, (List<SelectListItem>)@ViewBag.bookTypeList, "Book Type")</td>
                </tr>
                <tr>
                    <td scope="row"><input type="submit" value="Submit" /></td>
                </tr>
            </tbody>
           
        </table>
    }
</div>






